USE [master]
GO
/****** Object:  Database [EMPLOYEEDETAIL]    Script Date: 19-07-2020 13:28:29 ******/
CREATE DATABASE [EMPLOYEEDETAIL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEEDETAIL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EMPLOYEEDETAIL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPLOYEEDETAIL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EMPLOYEEDETAIL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEEDETAIL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEEDETAIL]
GO
/****** Object:  Table [dbo].[EmployeeInfo1]    Script Date: 19-07-2020 13:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInfo1](
	[EmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Dept] [nvarchar](max) NOT NULL,
	[SubDept] [nvarchar](max) NOT NULL,
	[DOB] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeInfo1] ON 

INSERT [dbo].[EmployeeInfo1] ([EmployeeId], [UserName], [Password], [Dept], [SubDept], [DOB], [Role]) VALUES (2, N'sumodh', N'password', N'TAX', N'TTT', N'09-01-1991', N'Admin')
INSERT [dbo].[EmployeeInfo1] ([EmployeeId], [UserName], [Password], [Dept], [SubDept], [DOB], [Role]) VALUES (3, N'sumodh1', N'password', N'TAX', N'TTT', N'09-01-1991', N'Admin')
INSERT [dbo].[EmployeeInfo1] ([EmployeeId], [UserName], [Password], [Dept], [SubDept], [DOB], [Role]) VALUES (4, N'string', N'string', N'string', N'TTT', N'string', N'string')
SET IDENTITY_INSERT [dbo].[EmployeeInfo1] OFF
GO
USE [master]
GO
